# Compiled class file
UniCoursePlanner/*.class

# Log file
UniCoursePlanner/*.log

# BlueJ files
UniCoursePlanner/*.ctxt

# Mobile Tools for Java (J2ME)
UniCoursePlanner/.mtj.tmp/

# Package Files #
UniCoursePlanner/*.jar
UniCoursePlanner/*.war
UniCoursePlanner/*.nar
UniCoursePlanner/*.ear
UniCoursePlanner/*.zip
UniCoursePlanner/*.tar.gz
UniCoursePlanner/*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

UniCoursePlanner/.idea
UniCoursePlanner/*.iml
UniCoursePlanner/out